table th
{
	text-align: left;
	background-color: #3EA99F;
	padding: 4px 30px 4px 8px; 
}


table td
{
	border: 1px solid #e3e3e3;
	padding: 4px 8px;
}

table
{
	border-collapse: collapse;
}
a{
	margin: 0 8px;
	padding: 5px 17px;
	border-radius: 50px;
	background:grey ;
	color: #333;
	text-decoration: none !important;
	border: 3px solid #fff;
}
body
{
	background-image: url('back.png');
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	float:right;
	margin-right:100px;
}

h1
{
	color:#C12283
}
